<% if @recording %>
  <strong>Automatiserte opptak</strong>
  <br>
  <img src="https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/black/png/32/film.png">
  <br>
  <a href="https://uit.no/om/enhet/artikkel?p_document_id=578589&p_dimension_id=88225&men=28927">Mer informasjon</a>
  <br>
  <br>
<% end %>
<% if @map_url.empty? == false %>
  <strong>Mazemap</strong><br>
  <%= @map_url %>
  <br>
  <br>
<% end %>
<% if @staff.empty? == false %>
  <strong>Fagpersoner</strong><br>
  <%= @staff %>
  <br>
  <br>
<% end %>
<div  style="color: #007bff;">
  <small>**************************************************</small>
  <br>
  <small>Denne hendelsen er automatisk lagt til kalenderen.</small>
  <br>
  <small>Den må <em>ikke</em> redigeres i Canvas.</small>
  <br>
  <small>**************************************************</small>
  <br>
</div>